
p 
{  
    width: 32em;  
    margin-left: 33%; 
    padding-top: 50px;  
    font-size: 16px; 
    line-height: 25pt; 
    font-family: sans-serif;
} 

img 
{
    position: relative;
    height: 250px; 
    width: 231px; 
    margin-left: 8%;  
    bottom: 620px; 
    border-radius: 7.5%; 
}  

.about a 
{ 
    text-decoration: none; 
    font-size: 12pt; 
    top: -500; 
    position: relative; 
    font-family: sans-serif;
}

.about a:hover 
{ 
    color: #02a15c;
    transition: 0.5s;  
    font-family: sans-serif;
} 

.about span 
{  
    color: #02a15c; 
    font-size: 13pt; 
    font-family: sans-serif;
}


