html{
 height: 100%;
 width: 100%;
}

body{
 width: 100%;
 height: 100%;
} 


.eventbrite 
{
    font-family: sans-serif; 
    padding-top: 75px;
} 

/* coloring */ 
.eventbrite span
{
    color: #939393; 
    font-size: 13pt;
}

.eventbrite .projectbrief span
{
     color: #f6682f; 
    font-size: 13pt;
} 

.eventbrite .problem span
{
     color: #f6682f; 
    font-size: 13pt;
} 

.eventbrite .flowchart span
{
     color: #f6682f; 
    font-size: 13pt;
}

/* title */
.eventbrite .title h1 
{
     color: #F6682F; 
    text-align: center;
    font-size: 30pt;
    width: 100%;
} 

.eventbrite .title p 
{ 
    text-align: center; 
    color: darkgray;
    padding-bottom: 50px;
    position: relative;
}

/* final design pic */ 
.eventbrite .final img 
{
     padding-bottom: 100px;  
    margin: auto 250px;
}


/* project brief */ 
.eventbrite .projectbrief h2 
{
    margin-left: 30%; 
     margin-right: 30%;
     color: #F6682F;
    line-height: 25pt;
}

.eventbrite .projectbrief p 
{
    padding-bottom: 100px;
     margin-left: 30%;  
     margin-right: 30%;
    line-height: 25pt;
} 

/* problem */
.eventbrite .problem h2 
{
    margin-left: 30%; 
     margin-right: 30%;
     color: #F6682F;
    line-height: 25pt;
} 

.eventbrite .problem p 
{
     padding-bottom: 100px;
     margin-left: 30%;  
     margin-right: 30%; 
    line-height: 25pt;
} 

/* reasoning */ 
.eventbrite .reasoning h2 
{ 
    margin-left: 7%;
    padding-bottom: 50px;
     color: #F6682F; 
    line-height: 25pt;
}

.eventbrite .reasoning p 
{
    margin-right: -9%;
    margin-left: 25%;  
    line-height: 25pt;
} 

.eventbrite .reasoning b
{
    margin-left: 25%; 
    line-height: 25pt;
} 

/* ideation */
.eventbrite .ideation h1 
{
     color: #F6682F; 
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 200px; 
    background-color: #e9e9e9; 
    line-height: 25pt;
    font-size: 27pt;
    width: 100%;
} 

/* ideas */  

.eventbrite .ideas 
{
    padding-top: 100px;
}
.eventbrite .ideas b 
{
    margin-left: 25%;
    line-height: 25pt;
    padding-top: 100px;
}

.eventbrite .ideas p 
{
    margin-right: -9%;
    margin-left: 25%; 
    margin-bottom: 100px;
    line-height: 25pt;
    position: relative;
}

.eventbrite .ideas .column img 
{
    margin: auto 200px;
    float: left;
    margin-bottom: 100px;
}


/* flowchart */ 
.eventbrite .flowchart h2 
{
    margin-left: 30%; 
     margin-right: 30%;
     color: #F6682F; 
    line-height: 25pt;
} 

.eventbrite .flowchart p 
{
     margin-left: 30%;  
     margin-right: 30%;
    line-height: 25pt; 
    position: relative;
} 

.eventbrite .flowchart img 
{ 
    padding-bottom: 100px;
    margin: auto 275px;
    float: left;
}
/* sketches */ 
.eventbrite .sketches h2 
{
    margin-left: 30%; 
     margin-right: 30%;
     color: #F6682F;
    line-height: 25pt;
} 

.eventbrite .sketches p 
{
     margin-left: 30%;  
     margin-right: 30%;
    line-height: 25pt; 
    position: relative;
} 

.eventbrite .sketches img 
{
     padding-bottom: 100px;
        padding-top: 50px; 
    margin: auto 420px;
    float: left;
}

/* wireframes */ 
.eventbrite .wireframes h2 
{
    margin-left: 30%; 
     margin-right: 30%;
     color: #F6682F;
    line-height: 25pt;
} 

.eventbrite .wireframes p 
{
     margin-left: 30%;  
     margin-right: 30%;
    line-height: 25pt;
    position: relative;
} 

.eventbrite .wireframes img 
{
    padding-bottom: 100px; 
    margin: auto 400px;
}

/* userresearch */
.eventbrite .userresearch h1 
{
    color: #F6682F; 
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 200px; 
     background-color: #e9e9e9; 
    line-height: 25pt;
    font-size: 27pt; 
    width: 100%;
}

/* userinterviews */  
.eventbrite .userinterviews h2 
{
    margin-left: 30%; 
     margin-right: 30%;
     color: #F6682F;
    line-height: 25pt;
    padding-top: 100px;
} 

.eventbrite .userinterviews p 
{
     padding-bottom: 100px;
     margin-left: 30%;  
     margin-right: 30%;
    line-height: 20pt;
} 

/* wireframessecond */
.eventbrite .wireframessecond 
{
    padding-bottom: 100px;
}
.eventbrite .wireframessecond h2 
{
    margin-left: 30%; 
     margin-right: 30%;
     color: #F6682F;
    line-height: 25pt;
} 

.eventbrite .wireframessecond p 
{
     margin-left: 30%;  
     margin-right: 30%;
    line-height: 25pt;
} 

.eventbrite .wireframessecond img 
{
    padding-bottom: 100px;  
    margin: auto 480px;
}

/* finaldesign */ 
.eventbrite .finaldesign h1 
{
     color: #F6682F; 
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 200px; 
    background-color: #e9e9e9;
    line-height: 25pt;
    font-size: 27pt;
    width: 100%;
}


/* grouphomepage */ 
.eventbrite .grouphomepage h2 
{
    margin-left: 15%; 
     margin-right: 45%;
     color: #F6682F;
    padding-top: 100px;
} 

/* winner */ 
.eventbrite .winner p
{
     margin-left: 15%;  
     margin-right: 45%;
    line-height: 25pt;
    padding-bottom: -50px;
} 

.eventbrite .grouphomepage ul 
{ 
    padding-top: 100px;
}

.eventbrite .grouphomepage li
{
     margin-left: 10%;  
     margin-right: 5%;
    line-height: 15pt;
} 

.eventbrite .grouphomepage img 
{
    padding-top: 100px; 
    padding-left: 300px;
}

/* rankingpage */ 
.eventbrite .rankingpage h2 
{
    margin-left: 10%; 
     margin-right: 5%;
     color: #F6682F;
    padding-top: 100px;
} 

.eventbrite .grouphomepage ul 
{ 
    padding-top: 100px;
    position: relative;
}

.eventbrite .rankingpage li
{
     margin-left: 10%;  
     margin-right: 5%;
    line-height: 15pt;
} 


.eventbrite .rankingpage img 
{
    padding-top: 100px;
    padding-left: 300px;
}

.eventbrite .rankingpage .rows .columnleft img 
{
    margin: auto 100px; 
    float: right; 
    padding-top: 25px;
    padding-left: 150px;
}

/* constraintspage */
.eventbrite .constraintspage h2 
{
    margin-left: 10%; 
     margin-right: 5%;
     color: #F6682F; 
    padding-top: 100px;
}  

.eventbrite .constraintspage ul 
{ 
    padding-bottom: 100px
}

.eventbrite .constraintspage li
{
     margin-left: 10%;  
     margin-right: 5%;
    line-height: 15pt;
} 

.eventbrite .constraintspage img 
{
    padding-top: 100px;
}

/* rows and columns */ 
.column 
{
  float: left;
  width: 28%;  
    
}

.row:after 
{
  content: "";
  display: table;
  clear: both;
   padding-bottom: 100px; 

} 


.columnleft
{
    width: 65%;
    float: left; 
}

.columnright
{
    width: 35%; 
    float: left; 
    padding-top: 150px;
}

.rows:after 
{
  content: "";
  display: table;
  clear: both;
   padding-bottom: 100px; 

} 












