html{
 height: 100%;
 width: 100%;
}

body{
 width: 100%;
 height: 100%;
} 

header
{ 
    width: 100%; 
    height: 70px; 
    background-color: #ffffff;
} 

h3 
{ 
    position: absolute;
    padding: 3px; 
    float: left; 
    margin-left: 50px; 
    margin-top: 30px; 
    color: #04d178; 
    font-family: sans-serif;
}  

.navbar
{
 width: 100%;
}

.navbar span 
{
    color: #09b86c; 
    font-size: 22px; 
}

.navbar ul 
{ 
    width: auto; 
    float: right; 
    margin-top: 23px;  
    margin-right: 50px;
}

.navbar li
{ 
    display: inline-block;
    padding: 15px 30px; 
}


.navbar h2
{  
    font-family: sans-serif;
    text-align: center; 
    font-size: 20px; 
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    width: 30em; 
    padding-top: 30px; 
} 



a 
{ 
    font-family: sans-serif;
    color: #333;
    text-decoration: none; 
}

a:hover 
{ 
    color: #09b86c;
    transition: 0.5s; 
    font-family: sans-serif;
} 

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
} 

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}











